pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
openpyxl
xgboost
lightgbm
streamlit
fastapi
uvicorn
flask
joblib
requests
openmeteo-requests
requests-cache
retry-requests
cdsapi
xarray
netcdf4
scipy
jupyter
ipykernel
